html,
body {
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
}
.m-h {
    padding-top: 25px;
    font-weight: 500;
    font-size: 23px;
    color: #333;
}
form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.2rem;
    width: 20.938rem;
    padding: 3.125rem;
    transition: all 0.3s ease-in;
}
label {
    display: block;
    font-size: 0.9rem;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 5px;
}
.con-wrapper {
    display: block;
    width: 100%;
}
.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}
.input-wrapper input {
    width: 100%;
    padding-left: 30px;
    box-sizing: border-box;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.input-wrapper img {
    position: absolute;
    left: 5px;
    width: 16px;
    height: 16px;
}
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-submit {
    border: none;
    border-radius: 10px;
    color: white;
    background: #003daf;
    text-align: center;
    padding: 0.55rem 6.25rem;
    margin-top: 10px;
    font-size: 18px;
    transition: all 0.35s ease-in-out;
}
.btn-submit:hover {
    background-color: #002874;
}
.btn-submit:active {
    transform: scale(0.9);
}
.dir-deco {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    gap: 1.5px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.container {
    animation: fadeIn 0.8s ease-in;
}
.validation-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.error-deco {
    max-width: 100%;
    padding: 0.313rem;
    font-size: 0.875rem;
    color: rgba(255, 0, 0, 0.75);
    border-radius: 5px;
    border: 1px solid #f00;
    background: rgba(255, 216, 216, 0.5);
}

@media (max-width: 768px) {
    form {
        width: 20.469rem;
        gap: 0.45rem;
        padding: 2.5rem;
    }
    label {
        font-size: 0.875rem;
    }
}

@media (max-width: 480px) {
    form {
        width: 15.1rem;
        gap: 0.55rem;
        padding: 1.833rem;
    }
    .btn-submit {
        padding: 0.25rem 3.125rem;
    }
    .m-h {
        font-size: 18px;
    }
    .btn-submit {
        padding: 0.275rem 2.08rem;
        font-size: 14px;
    }
    .dir-deco {
        font-size: 10px;
    }
}
