* {
    box-sizing: border-box;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    /*padding: 0.625rem;*/
    padding: 1.625rem;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    gap: 5px;
    overflow: hidden;
}
.search-c {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 900px
}
#search {
    border-radius: 12px 0 0 12px;
    border: 1px solid rgba(0, 0, 0, 0.03);
    background: rgba(88, 88, 88, 0.10);
    padding-left: 25px;
    height: 35px;
    flex: 1 1 200px;
}
.search-icon {
    position: relative;
    left: 25px;
}
#filter-trigger {
    position: relative;
    background: var(--flav-red);
    display: flex;
    height: 35px;
    padding: 5px 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    right: 0px;
}
#search:focus, .custom-input:focus {
    outline: none;
    border-color: var(--search-border-color);
}
.user-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: clamp(4px, 1vw, 18px);
}
#search, .user-content, #to-go-deco, #filter-trigger {
    transition: all 0.3s ease-in;
}
#location-toggle-btn {
    border-radius: 12px;
    border: 0.5px solid rgba(0, 0, 0, 0.10);
    background: rgba(125, 125, 125, 0.08);
    padding: 5px 10px;
}
#to-go-deco {
    background-color: var(--flav-red);
    color: white;
    border-radius: 12px;
    padding: 5px 10px;
}
#to-go-deco:active, .custom-submit:active, #location-toggle-btn:active {
    transform: scale(0.9);
}
#to-go-deco:hover, #filter-trigger:hover {
    background: var(--on-hover-dr);
}
.inner-icon {
    width: var(--xxsmall-icon-size);
    height: var(--xxsmall-icon-size);
}
.location-toggle-btn, #to-go-deco {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 0.313rem;
}
.location-toggle-btn, #user-pf {
    cursor: pointer;
}
.user-drop-container .user-toggle-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
#user-pf {
    width: 30px;
    height: 30px;
    border: none;
    background: #333333;
    border-radius: 50%;
}
/* pop up */
.pop-up-bg {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: visibility 0s 0.3s, opacity 0.3s ease;
}
.pop-up-bg.show {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s ease;
}
.content-card-deco {
    background: #FFFFFF;
    padding: 1.25rem;
    border-radius: 8px;
    transform: scale(0.9);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.pop-up-bg.show .content-card-deco {
    transform: scale(1);
    opacity: 1;
}
.c-items {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    gap: 1rem;
}
.drop-c {
    display: flex;
    flex-direction: column;
    gap: 0.20rem;
}
.p-deco-1 {
    font-weight: 500;
    font-size: 18px;
}
.p-deco-2 {
    font-weight: 400;
    font-size: 14px;
}
.p-h1 {
    font-weight: 500;
}
.p-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}
.close {
    width: var(--xxsmall-icon-size);
    height: var(--xxsmall-icon-size);
    cursor: pointer;
    fill: var(--mute-contrast);
}
.close:hover {
    fill: #3e3e3e;
}
.muted-con {
    color: var(--mute-contrast);
}
.location-c-deco {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    gap: 1rem;
    border: 2px solid #D9D9D9;
    background: #FFFFFF;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.location-c-deco:hover {
    border-color: var(--mute-contrast);
}
.radio-end {
    margin-left: auto;
}
.selected {
    border-color: var(--flav-red);
    background: rgba(255, 0, 0, 0.1);
}
.selected .svg-deco {
    background: var(--flav-red);
}

.selected .location-icon {
    fill: white;
}
.selected:hover {
    border-color: var(--flav-red);
}
input[type="radio"]:checked {
    appearance: none;
    width: 1.25em;
    height: 1.25em;
    border: 0.4em solid var(--flav-red);
    border-radius: 50%;
    outline: none;
    background-color: white;
}
.svg-deco {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--large-icon-size);
    height: var(--large-icon-size);
    background: #eaeaea;
    border-radius: 50%;
}
.location-icon, .svg-x {
    fill: var(--mute-contrast);
    width: var(--medium-icon-size);
    height: var(--medium-icon-size);
}
.flex-override {
    flex-direction: column !important;
    align-items: flex-start !important;
}
.custom-lc {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.custom-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
}
.custom-input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.custom-submit {
    padding: 0.5rem 1rem;
    background-color: var(--on-hover-dr);
    font-weight: 550;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.custom-submit, .svg-deco, input[type="radio"] {
    transition: all 0.3s ease-in-out;
}
.custom-submit:hover {
    background-color: var(--flav-red);
}
/*.drop-down {*/
/*    display: none;*/
/*    border-radius: 8px;*/
/*    border: 0.5px solid rgba(0, 0, 0, 0.30);*/
/*    background: #FFF;*/
/*    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);*/
/*    position: absolute;*/
/*    top: 50px;*/
/*    z-index: 9999;*/
/*}*/
@media (max-width: 1075px) {
    #to-go-icon {
        display: none;
    }
}